<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" xmlns:color="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static 'ico/favicon.ico' %}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Pavan_Bharadwaj_H</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css//font-awesome.min.css' %}" rel="stylesheet">
  </head>

  <body>

    <!-- Static navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="folio">Folio</a>

        </div>
        <div class="navbar-collapse collapse">
        	<a class="navbar-brand navbar-right" href="studio">Photo-Folio</a>
        </div>
      </div>
    </div>


	<div id="headerwrap">
	    <div class="container">
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3 w1h1">
					<h4 style="color:#FFFFFF" align="center">HELLO PEOPLE, MY NAME IS</h4>
					<h2 style="color:#F5F5F5" align="center">PAVAN</h2>
					<h4 style="color:#FFFFFF" align="center">ENGINEER |TRAVELLER |PHOTOGRAPHER</h4>
				</div>
			</div><! --/row -->
	    </div> <!-- /container -->
	</div><! --/headerwrap -->
		</div><! --/container -->

	<div id="social">
		<div class="container">
			<div class="row centered">

				<div class="col-lg-3">
					<a href="https://www.facebook.com/holenarasipura.pavan" target="_blank"><i class="fa fa-facebook"></i></a>
				</div>

				<div class="col-lg-3">
					<a href="https://www.linkedin.com/in/pavan-bharadwaj-holenarasipura/" target="_blank"><i class="fa fa-linkedin"></i></a>
				</div>
				<div class="col-lg-3">
					<a href="https://www.instagram.com/bharadwajclicks/?hl=en" target="_blank"><i class="fa fa-instagram"></i></a>
				</div>
				<div class="col-lg-3">
					<a href="https://www.flickr.com/people/138581669@N03/" target="_blank"><i class="fa fa-flickr"></i></a>
				</div>

			</div><! --/row -->
		</div><! --/container -->
	</div><! --/social -->

	<div id="footerwrap">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-5">
					<p><b>Gallivanter, Avid Learner and a Philomath</b></p>
				</div>

				<div class="col-lg-5">
					<p>From beautiful Bengaluru, Currently living in Chicago</p>
				</div>

                    <div class="col-lg-5">
					 <i class="fa fa-phone fa-3x mb-3 sr-contact" style="color: #2a6496"></i>
            <p>(+1) 312-468-0832</p>
				</div>

                 <div class="col-lg-5" >
					<i class="fa fa-envelope-o fa-3x mb-3 sr-contact" style="color: #2a6496"></i>
            <p>
              <a href="mailto:pavanbharadwajhms@gmail.com" style="color: white">pavanbharadwajhms@gmail.com</a>
            </p>
				</div>

			 </div>
      </div>
				</div>
			</div>
		</div>
	</div><! --/footerwrap -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
  </body>
</html>
